@import "../../../assets/sass/mixins";
@import "../../../assets/sass/variables";

.steps-visualizer {
    @include grid(5, 1);
    grid-template-areas: 'first-step, first-arrow, second-step, second-arrow, third-step';
    align-items: center;

    background-color: $dark-background-color;

    .step {
        height: 100%;

        @include flex(column);
        justify-content: space-between;
        align-items: center;

        p {
            font-family: $theme-montserrat;
            color: $general-white;

            text-align: center;
        }
    }

    .arrow-container {
        @include flex(row);
        justify-content: center;

        .arrow {
            color: $general-white;
        }
    }
}