@import './../../assets/sass/mixins';
@import './../../assets/sass/variables';

.formLabel {
    width: 40%;
    
    @include flex(column, true);
    flex-grow: 1;
    align-items: center;
    gap: 0.5rem;

    label {
        color: $general-white;
        font-family: $theme-montserrat;
        font-size: 15px;
    }
}

/* Media query for increasing label's width */
@media only screen and (max-width: 900px) {
    .formLabel {
        width: 100%;
    }
}