@import "../../assets/sass/mixins";
@import "../../assets/sass/variables";

.login {
    height: 100vh;
    width: 100%;
    /* Center the content */
    @include flex(row);
    justify-content: center;
    align-items: center;

    /* Background */
    background: #191a27;
    color: white;
    font-size: calc(10px + 2vmin);

    /* Text */
    text-align: center;
    font-family: $theme-montserrat;

    div.formulario {
        background: #2B2D42;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        isolation: isolate;

        width: 30%;
        height: 75%;

        border-radius: 35px;

        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;

        div.form {
            @include flex(column);
            width: 90%;
            height: 90%;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;

            h1 {
                font-size: 40px;
                font-family: $theme-montserrat;
            }

            .form__body {
                @include flex(column, true);
                align-items: center;
                gap: 1rem;
            }
            .formLabel{
                width: 100%;
            }

            .buttons {
                align-items: center;
                padding: 0px;
                gap: 49px;
    
                width: 539px;
                height: 40px;
            }
            a {
                text-decoration: none;
                color: white;
                font-size: 15px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

@media only screen and (max-width: 820px) and (max-height: 1180px) {
    .login {
        div.formulario {
            width: 55%;
            height: auto;
            div.form {
                @include flex(column);
                padding: 1rem;
            }
        }
    }
}

// iPhone
@media only screen and (max-width: 400px) and (max-height: 720px) {
    .login {
        div.formulario {
            width: 80%;
            height: 80%;
        }
    }
}
