@import './../../../assets/sass/mixins';
@import './../../../assets/sass/variables';

.description-field {
    @include flex(column);

    div {
        @include flex(column);
        flex-wrap: wrap;
        align-items: center;

        p{
            font-size:medium;
        }
    }
}