@import '../../../assets/sass/mixins';
@import '../../../assets/sass/variables';

div.combobox {
    width: 48%;
    height: 30px;

    select {
        width: 100%;
        height: 100%;

        border-radius: 5px;
    }
}