@import "../../assets/sass/mixins";
@import "../../assets/sass/variables";

header {
    width: 100%;
    height: auto;

    background-color: $light-background-color;
    padding: 1rem 2rem;

    position: sticky;
    top:0;
    z-index: 100;

    @include flex(row);
    justify-content: space-between;
    flex-wrap: wrap;

    a{
        text-decoration: none;
    }

    .header-title-categories {
        @include flex(row);
        gap: 1rem;
        align-items: center;

        h2 {
            font-family: $theme-sacramento;
            color: $general-white; 
            font-size: xx-large;
            text-align: center;

            cursor: pointer;
        }
        .categories {
            @include flex(row);
            flex-wrap: wrap;
            gap: 1rem;

            h3 {
                font-family: $theme-montserrat;
                color: $general-white; 
                font-size: small;
                text-align: center;

                cursor: pointer;
            }
        }
    }

    .bars {
        display: none;
    }

    SearchModal {
        position: relative;
    }
}

@media only screen and (max-width: 900px) {
    header {
        .bars {
            display:inline;
        
            align-self: center;
        
            color: $general-white; 

            cursor: pointer;
        }
    }
}
