@import '../../assets/sass/mixins';
@import '../../assets/sass/variables';

div.uploader-container {
    width: 50%;
    height: 925px;
    background-color: $dark-background-color;

    .uploader-wrapper {
        width: 100%;
        padding: 5rem;

        @include flex(column);
        gap: 1rem;

        .actions {
            @include flex(column);

            button {
                align-self: center;
                width: 80%;
                height: 30px;

                border-radius: 10px;
                font-family: $theme-montserrat;
                font-weight: bolder;

                cursor: pointer;
            }

            .uploader-space {
                height: 200px;

                border-radius: 3rem 3rem;
                border: 3px $general-white dashed;
                background-color: $dark-background-color;

                font-family: $theme-montserrat;
                color: $general-white;
                font-size: x-large;
                font-weight: bolder;

                cursor: pointer;
            }
        }

        .images-container {
            width: auto;
            height: 500px;
            padding: 2rem;

            @include flex(column);
            justify-content: center;
            align-items: center;

            overflow-x: hidden;
            overflow-y: auto;

            background-color: rgba($color: black, $alpha: 0.2);
            border-radius: 10px;

            .information-message {
                @include flex(column);
                justify-content: center;
                align-items: center;
                gap: 1rem;

                figure {
                    width: 150px;
                    height: 150px;
                    position: relative;

                    img {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                    }
                }
                p {
                    font-family: monospace;
                    color: $general-white;
                }
            }

            .image-item {
                width: 80%;
                height: 70px;
                padding: 10px;
    
                border: 1px $general-white solid;
                border-radius: 10px;
    
                @include flex(row);
                justify-content: space-between;
                align-items: center;
    
                .details-container {
                    @include flex(row);
                    gap: 1rem;
                    align-items: center;
    
                    figure {
                        width: 50px;
                        height: 50px;
        
                        position: relative;
        
                        img {
                            width: 100%;
                            height: 100%;
        
                            border-radius: 10px;
        
                            object-fit:cover;
                            position: absolute;
                        }
                    }
                    p{
                        font-family: $theme-dosis;
                        color: $general-white;
                    }
                }
                .image-btn-wrapper {
    
                    button.delete {
                        width: 30px;
                        height: 30px;
    
                        border-radius: 10px;
                        background-color: $general-white;
    
                        font-family: $theme-montserrat;
                        font-size: large;
                        font-weight: bolder;
                        color: $dark-background-color;
    
                        cursor: pointer;
                    }
                }
            }

        }
    }
}